@model Module

<div id="edit-basic" class="tab-pane">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Niveaux</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleFrNiveau</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Parcours</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleFrParcours</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Période</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Periode</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Unité D'Enseignement</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntileFrUniteE</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Code</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Code</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Intitulé Français</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleFr</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Intitulé Arabe</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleAr</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Abréviation</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleAbrg</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Régime D'Examen</div>
            <div class="profile-info-value">
                <span class="editable">@Model.RegimeExamen</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Unité Du Volume Horaire</div>
            <div class="profile-info-value">
                <span class="editable">@Model.UniteVolumeHoraire</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Cours</div>
            <div class="profile-info-value">
                <span class="editable">@Model.NbHeuresCours</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">TD</div>
            <div class="profile-info-value">
                <span class="editable">@Model.NbHeuresTD</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">TP</div>
            <div class="profile-info-value">
                <span class="editable">@Model.NbHeuresTP</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">CI</div>
            <div class="profile-info-value">
                <span class="editable">@Model.NbHeuresCI</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Nature</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Nature</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Durée De L'Examen</div>
            <div class="profile-info-value">
                <span class="editable">@Model.DureeExamen</span>
            </div>
        </div>
    </div>

</div>