@model SessExaSalle
@{
    var seance = ViewBag.séance;
    var Jour = ViewBag.jour;
    ViewData["ids"] = ViewBag.ids;
    var id= ViewBag.ids;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/template/vendor/datatables-plugins/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/template/vendor/datatables-responsive/dataTables.responsive.css">
    <link rel="stylesheet" href="~/css/showFiliere.css">
    <link rel="stylesheet" href="~/css/chargeEnseignement.css">
}
<input type="hidden" id="idsPS" value="@ViewData["ids"]" />
<div class="row row-container container-margin2">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header page-header-resize">Affectation des Salles</h3>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 30px; ">
    <div class="col-lg-12 filter-bar">
        <form class="form-horizontal filter-bar-form">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <label for="" class="col-md-1 col-lg-offset-1" style="padding-top: 8px;">Niveau:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="FieldNameNiv">
                                <option value="Niveau 1">Première année License</option>
                                <option value="Niveau 2">Deuxième année License</option>
                                <option value="Niveau 3">Troisième année License</option>
                            </select>
                        </div>

                        <label for="" class="col-md-1" style="padding-top: 8px;">Date:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="FieldNameJou">
                                @foreach (var @jouritem in Jour)
                                {
                                    <option value="@jouritem.Id">@jouritem.Jour.ToLongDateString()</option>
                                }
                            </select>
                        </div>

                        <label for="" class="col-md-1" style="padding-top: 8px;">Séance:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="FieldNamesean">
                                @foreach (var @seitem in seance)
                                {
                                <option value="@seitem.Id">@seitem.HeureDebut-@seitem.HeureFin</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn b-button btn-sm " id="searchrepsalle">
                                Chercher | <i class="fa fa-search fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="AffSalle" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr class="Calenth">
                            <th></th>
                            @foreach (var @SalleItem in @Model.LSS)
                            {

                                <th style="text-align:center">
                                    <p>@SalleItem.CodeSalle</p>
                                    <p>(@SalleItem.CapaciteExamen)</p>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody id="AffSalle-table-body">
                        @foreach (var @SEItem in @Model.LSE)
                        {
                        <tr>
                            <th class="Calenth" style="vertical-align:middle">
                                <p>@SEItem.SE.Niveau</p>
                                <p>(@SEItem.nbc/@SEItem.SE.NbEtudiants)</p>
                            </th>
                            @foreach (var @SalleItem in @Model.LSS)
                            {
                                var tes = false;
                                @foreach (var @SESItem in @Model.LSES)
                                {
                                    if (@SESItem.IdSession == id && @SESItem.IdSessionExamen == @SEItem.SE.Id && @SESItem.IdSessionSalle == @SalleItem.Id)
                                    {
                                        tes = true;
                                    }
                                }

                                if (tes == true)
                                {
                                    <td class="Calentd checks">
                                        <input type="checkbox" class="ajoutsuprime" id="SES" value="@SEItem.SE.Id,@SalleItem.Id" checked />
                                    </td>
                                }
                                else
                                {
                                    <td class="Calentd checks">
                                        <input type="checkbox" class="ajoutsuprime" id="SES" value="@SEItem.SE.Id,@SalleItem.Id" />
                                    </td>
                                }
                            }
                        </tr>

                        }
                    </tbody>
                </table>
                <div class="modal-footer pull-left">
                    <button type="reset" class="btn b-button">
                        <i class="fa fa-clipboard fa-x"></i>
                        Vérifier Examen
                    </button>
                    <button type="button" class="btn b-button" id="PDF">
                        <i class="fa fa-file-excel-o fa-x"></i>
                        <span>Importer Excel</span>

                    </button>
                    <button type="button" class="btn b-button" id="PDF2">
                        <i class="fa fa-print fa-x"></i>
                        <span>Imprimer</span>

                    </button>
                </div>
            </div>

        </div>
    </div>
</div>


<partial name="~/Views/Shared/_Information.cshtml">
    <!--End -->
    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
        <!-- DataTables JavaScript -->
        <script src="~/template/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/template/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
        <script src="~/template/vendor/datatables-responsive/dataTables.responsive.js"></script>
        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml">
            <script src="~/js/SessionExamenSalle.js"></script>
    }

