@model Salle

<div id="edit-basic" class="tab-pane">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Code</div>
            <div class="profile-info-value">
                <span class="edita ble">@Model.Code</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Type</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Type</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Code Batiment</div>
            <div class="profile-info-value">
                <span class="editable">@Model.CodeBatiment</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Etage</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Etage</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Capacité d'enseignement</div>
            <div class="profile-info-value">
                <span class="editable">@Model.CapaciteEnseignement</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Capacité d'examen</div>
            <div class="profile-info-value">
                <span class="editable">@Model.CapaciteExamen</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">NB de surveillants</div>
            <div class="profile-info-value">
                <span class="editable">@Model.NbSurveillants</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Etat salle</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Etat</span>
            </div>
        </div>
    </div>

    @*<div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Téléphone 1</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Telephone1</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Telephone 2 </div>
            <div class="profile-info-value">
                <span class="editable">@Model.Telephone2</span>
            </div>
        </div>
    </div>*@
</div>