@model UniteEnseignement

<div id="edit-basic" class="tab-pane ">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Niveau</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleFrNiveau</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Parcours</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleFrParcours</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Période</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Periode</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Code</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Code</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Intitulé Français</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleFr</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Intitulé Arabe</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleAr</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Abréviation</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IntituleAbrg</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Nature</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Nature</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Crédits</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Credits</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Coefficient</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Coefficient</span>
            </div>
        </div>
    </div>

</div>