@{
    ViewData["Title"] = "Parcours";
}
@model Projet_PFE.Models.Parcours
<!-- Modal -->
@{
var ParcoursId = @Model.IdFiliere + @Model.Code; 
<div class="modal fade" id="@ParcoursId" tabindex="-1" role="dialog" aria-labelledby="Edit-parcours" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-primary" id="Edit-parcours">
                    Ajouter Un Parcours
                </h4>
            </div>
            <div class="modal-body">
              
                <form asp-controller="Parcours" asp-action="Update" method="post">
                    <input type="hidden" name="pCode" value="@Model.Code">
                    <input type="hidden" asp-for="@Model.IdFiliere" value="@Model.IdFiliere">
                    <div class="form-group">
                        <label for="Code">
                            Code
                            <span class="required-field">*</span>
                        </label>
                         <input type="text" class="form-control" asp-for="Code" value="@Model.Code">
                    </div>

                    <div class="form-group">
                        <label for=" ">
                            Intitulé Français
                            <span class="required-field">*</span>
                        </label>
                         <input type="text" class="form-control" asp-for="IntituleFr" value="@Model.IntituleFr">
                    </div>

                    <div class="form-group">
                        <label for="">
                            Intitulé Arabe
                            <span class="required-field">*</span>
                        </label>
                         <input type="text" class="form-control" asp-for="IntituleAr" value="@Model.IntituleAr">
                    </div>

                    <div class="form-group">
                        <label for="">
                            Abréviation
                            <span class="required-field">*</span>
                        </label>
                         <input type="text" class="form-control" asp-for="IntituleAbrg" value="@Model.IntituleAbrg">
                    </div>

                    <div class="form-group">
                        <label for="">
                            Période D'Habilitation
                            <span class="required-field">*</span>
                        </label>
                         <input type="text" class="form-control" asp-for="PeriodeHabilitation" value="@Model.PeriodeHabilitation">
                    </div>

                    <div class="modal-footer btn-full-right">    
                        <button type="reset" class="btn b-button">Annuler</button>
                        <button type="submit" class="btn b-button">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</div>
    
}